.search-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

  form {
    display: flex;
    width: 80%;
}

  input {
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(118, 118, 128, 0.12);
    font-family: "Poppins", sans-serif;
    color: var(--foreground-color);
    flex: 5;
}

  .btnSearch {
    background-color: rgba(118, 118, 128, 0.12);
    border-radius: 20px;
    padding: 0 20px;
    margin-left: 5px;
    cursor: pointer;
}

@media all and (max-width: 475px) {

    form {
        width: 96%;
    }
    .search-container {
        margin-top: 20px;
    }
}