:root {
  --background-color: #222;
  --foreground-color: white;
  --secondary-color: #A0A0A0;
}

.dark-theme {
  --background-color: #222;
  --foreground-color: white;
  --secondary-color: #A0A0A0;
}

.light-theme {
  --background-color: white;
  --foreground-color: #222;
  --secondary-color: #6d6b6b;
}

.theme-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 20px;
}

body, html {
  margin: 0;
  background-color: var(--background-color);
  transition: all 0.5s ease-in-out;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.carousel-header {
  font-family: "Poppins", sans-serif;
  color: var(--foreground-color);
  font-size: 20px;
  margin: 25px 0 10px 40px;
}

.toggle-button {
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  background: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

@media all and (max-width: 475px) {

  .carousel-header {
    margin: 20px 0 0 30px;
    font-size: 18px;
  }
}


















