/* body {
  background: #222;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
}

.logo {
  line-height: 1.20;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

h1 span {
  font-weight: 400;
}

.logo p {
  color: #A0A0A0;
  margin: 0;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #A0A0A0;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* text-align: center; */
  padding: 10px;
  color: #A0A0A0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

footer p {
  margin-right: 8px;
}

.btnSearch {
  background: transparent;
  border: none;
  margin-left: 5px;
}

.btnSearch:hover {
  cursor: pointer;
}

input {
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(118, 118, 128, 0.12);
  font-family: "Poppins", sans-serif;
  width: 300px;
}

form {
  display: flex;
}
